.wrapper{
    padding-top:60px
}

.social-container{
    min-width:60px
}

.social{
    text-align:center
}

.social button{
    width:60px;
    position:relative;
    font-size:24px;
    height:34px;
}

.date{
    z-index:1051
}

.popover{
    z-index:1051;
    width:300px
}

.title{
    font-weight:bold
}

#member_benefits{
    border:2px solid #000
}

.bx-wrapper .bx-controls-direction a{
    z-index:100
}

.full-column{
    width:100% !important
}

.bx-wrapper .bx-prev{
    left:10px
}

.bx-wrapper .bx-next{
    right:20px
}

.row{
    margin-bottom:20px
}

.item-block span:after,
.product-info span:after,
.product-statistics span:after{
    content:"\a";
    white-space:pre
}

#back-top{
    background-color:#1d9d74;
    color:#fff;
    position:fixed;
    bottom:0;
    right:0;
    cursor:pointer;
    z-index:9999999
}

.red{
    background-color:#e52d27
}

.blue{
    background-color:#3b5998
}

.blue-light{
    background-color:#00aced
}

.blue-dark{
    background-color:#32506d
}

.red i,.blue i,.blue-light i,.blue-dark i{
    position:absolute;
    top:5px;
    left:18px
}

.img-full-screen{
    width:100%
}

#news-slide .item-new .new-thumb{
    float: left
}

#news-slide .item-new .new-description {
    margin-left: 45%;
}

.item-offer{
    margin-top: 10%;
    margin-left:15%;
    margin-right:10%
}

#offers-slide .item-offer .product-thumb{
    float:left;
    /*ajuste pra porcentagem que a imagem deve ocupar*/
    width:50%
}

#offers-slide .item-offer .product-description{
    margin-left:55%;
    /*ajuste pra porcentagem que o texto de ocupar*/
    max-width:50%;
    /*O tamanho da fonte se adapta ao tamanho da tela*/
    font-size:2.2vmin
}

#offers-slide .item-offer .product-thumb{
    max-width:100%
}

#offers-slide .item-offer:after{
    /*quebra floats*/
    clear:both;
    display:block;
    content:"-";
    visibility:hidden
}

.img-loader{
    margin-left:40%;
    margin-top:40%
}

.item-block2{
    display:inline-block;
    vertical-align:top;
    margin-bottom:10px;
    margin-right:10px
}

.inline-pagination-menu{
    display:inline !important;
}

.products-view{
    max-width:75px
}

.products-order{
    max-width:160px
}

.thumb-product{
    max-height:75px
}

.full-product{
    max-height:400px
}

#product-gallery img{
    border:2px solid #fff
}

.active img{
    border:2px solid #333 !important
}