.wrapper{
    padding-top:60px
}

.social-container{
    min-width:60px
}

.social{
    text-align:center
}

.social button{
    width:60px;
    position:relative;
    font-size:24px;
    height:34px;
}

.date{
    z-index:1051
}

.popover{
    z-index:1051;
    width:300px
}

.title{
    font-weight:bold
}

#member_benefits{
    border:2px solid #000
}

.bx-wrapper .bx-controls-direction a{
    z-index:100
}

.full-column{
    width:100% !important
}

.bx-wrapper .bx-prev{
    left:10px
}

.bx-wrapper .bx-next{
    right:20px
}

.row{
    margin-bottom:20px
}

.item-name:after,.item-old-price:after,
.item-price:after,.item-payment-form:after{
    content:"\a";
    white-space:pre
}

#back-top{
    background-color:#1d9d74;
    color:#fff;
    position:fixed;
    bottom:0;
    right:0;
    z-index:9999999
}

.red{
    background-color:#e52d27
}

.blue{
    background-color:#3b5998
}

.blue-light{
    background-color:#00aced
}

.blue-dark{
    background-color:#32506d
}

.red i,.blue i,.blue-light i,.blue-dark i{
    position:absolute;
    top:5px;
    left:18px
}

.img-full-screen{
    width:100%
}